{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "plugin:tailwind/recommended",
        "airbnb-base"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
//        "parser": "@typescript-eslint/parser",
//        "sourceType": "module"
    },
    "plugins": [
        "vue"
//        "@typescript-eslint"
    ],
    "rules": {
    }
}
